html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-height: 100%;
    max-width: 100%;
}

ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.background {
    height: 750px;
    display: flex;
    flex-direction: column;
    font-family: Calibri, Helvetica, sans-serif;  
    background: url(./images/background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    height: 150px;
    padding: 20px;
    text-align: center;
}

.instructions {
    height: 200px;
    text-align: center;
    font-size: large;
}

.container {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 100px;
    
}

.button {
    height: 200px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
    transition: all .5s;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

